:root{
    --color-blue1:#0D4B74;
    --color-orange1:#ca8a04;
}

.bg-blue1{
    background-color: var(--color-blue1);
}

.bg-orange{
    background-color: var(--color-orange1);
}

.custom-width{
    width: 500px;
}
.hidden {
    display: none;
  }

.custom-alert{
    font-style: italic;
    font-size: medium;
    color: rgb(180, 19, 95);
}

.custom-img{
    height: 50px;        
}

.custom-link{
    cursor: pointer;
    
}
.tagSpan{
    cursor: pointer;
}

h5{
    text-decoration: underline;
    text-underline-offset: 5px;
}


hr{
    color: wheat !important;
}
@media (width < 992px) {
    .custom-query{
        display: flex;
        flex-direction: column;
    }
    .custom-img{
        height: 150px;
    }

}
i:hover{
    cursor: pointer;
}